.studentCards {
    display: flex;
}

.retryButton {
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 50px;
}

img {
    position: relative;
    top: 5px;
    width: 150px;
    height: 200px;
}

.imageFrame {
    width: 160px;
    height: 210px;
    background-color: green;
}

.personDescription {
    font-size: 0.8rem;
    margin-bottom: -5px;
}

.person {
    margin-right: 50px;
}